.
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins,sans-serif;';
}
body{
	background-image: linear-gradient(#2857a4,#403066);
}

.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: transparent;
	display: flex;
    justify-content: space-between;
    align-items: center;

	

}
.logo{
	font-size: 30px;
	word-spacing: 5px;
	margin-left: 30px;
	text-decoration: none;
	color: white;

} 

.logo a:hover{
	color: red;
	transition: color 0.5s, border-bottom 4s;
}
.nav li{
	display: inline-block;

}
.nav li a{
	font-size: 30px;
	padding:  0px 8px 8px 0px;
	text-decoration: none;
    color: white;
}

.nav li a:hover{
	color: red;
}


.home{
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	padding: 0 10%;
}
.home-content h1{
	font-size: 56px;
    font-weight: 700px;
}
.home-content h3{
	font-size: 32px;
	font-weight: 700px;
}
.home-content p{
	font-size: 16px;
}

.btn{
	width: 180px;
	height: 48px;
	background: yellowgreen;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 40px;
	color: #fff;
	font-size: 19px;
	text-decoration: none;
	font-weight: 600px;
	letter-spacing: 1px;
}
.profil img{
	height: 400px;
	width: 400px;
	margin-left: 275px;

}
.home-icon {
	display: flex;
	flex-direction: column;
	}
.home-icon a i{
	padding: 20px;
	font-size: 2rem;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: palevioletred;
}
.home-icon a i:hover{
	box-shadow: 0px 0px 4px 2px red ;
}
.profil{
	height: 30rem;
	width: 30rem;
	position: relative;
/*	margin: auto;*/
}
.profil li img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
}